<!DOCTYPE html>
<html lang="en">
  <!-- head  -->
  <%- include("./partials/head.ejs", { title: "About" }) %>
  <body>
    <!-- navigation -->
    <%- include("./partials/navigation.ejs") %>

    <h1>About page</h1>
  </body>
</html>
