<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include("./partials/head.ejs", { title: "Services" }) %>

  <body>
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col-sm-2">
          <%- include("./partials/sidebar.ejs", { page_name : "Services" }) %>
        </div>

        <div class="col-sm-10">
          <!-- main content -->
          <h1>Home page</h1>
        </div>
      </div>
    </div>

    <!-- foot -->
    <%- include("./partials/foot.ejs") %>
  </body>
</html>
